/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

h3 {
  font-weight: 600;
  line-height: 1.125;
  margin-top: 2.1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #363636;
}

.mei-body-items {
  font-family: 'Nunito Sans', sans-serif;
}

#MEImeta {
  display: block;
}

#my_title {
  font-size: 35px;
  color: black;
  padding-bottom: 2px;
  font-family: 'DM Serif Display', serif;
}

#subtitle {
  padding-bottom: 2px;
}

#title::before {
  content: "Title: ";
  font-weight: bold;
}

#title1::before {
  content: "Title: ";
  font-weight: bold;
}

mei-date::before {
  content: "Date published: ";
  font-weight: bold;
}

#arranger::before {
  content: "Arranger: ";
  font-weight: bold;
}

#arranger1::before {
  content: "Arranger: ";
  font-weight: bold;
}

#published_on::before {
  content: "Published on: ";
  font-weight: bold;
}

#composer_first::before {
  content: "File description";
  display: block;
}

mei-date, mei-title, mei-persname, mei-corpname, mei-extent, mei-publisher, mei-address, mei-lyricist, mei-key, mei-tempo, mei-geogname, mei-creation, mei-language, mei-termlist  {
  display: block;
}