/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

h3 {
  font-weight: 600;
  line-height: 1.125;
  margin-top: 2.1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #363636;
}

#MEImeta {
  display: block;
}

mei-filedesc > mei-titlestmt > mei-title:first-child {
  font-size: 16px;
  color: black;
}

#subtitle {
  color: red;
}