/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

h3 {
  font-weight: 600;
  line-height: 1.125;
  margin-top: 2.1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #363636;
}

.mei-body-items {
  font-family: 'Nunito Sans', sans-serif;
}

#MEImeta {
  display: block;
}

#mytitle {
  font-size: 35px;
  color: black;
  padding-bottom: 2px;
  font-family: 'DM Serif Display', serif;
}

#subtitle {
  padding-bottom: 2px;
}